<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
		<listeners><listener class-name="utility.listnerClass"></listener></listeners>
  <test thread-count="5" name="Test" parallel="none">
    <classes>
     <!-- <class name="testClasses.projectDetailsTest"/>
       <class name="testClasses.designPageTest"/>
      <class name="testClasses.budgetAndTimelineTest"/>
      <class name="testClasses.contactPageTest"/>-->
      <class name="testClasses.test2test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
